{{#layout}}

    <div>
        <div id="info">
            <p id="vs" class="hidden"><span id="player_name"></span> V <span id="opponent_name"></span></p>
            <span id="colour"></span>
            <div id="endOfGame"></div>
        </div>

        <div id="grid">Waiting for a game...</div>
    </div>

	<script>
        var playerId = "{{playerId}}";

        function reloadGrid() {

            console.log("Reloading grid...");

            $.ajax({
                url : "/api/retrieveGame?playerId=" + playerId
            }).done(function(data, textStatus, jqXHR) {

                if (jqXHR.status == 200) {
                    console.log(data);

                    $("#vs").removeClass("hidden");

                    if(data.winner != null){

                        $("#colour").addClass("hidden");
                        populateGameGrid("grid", data);

                        $(".piece-button").attr("disabled", "disabled");
                        
                        if(data.winner == "It's a draw!!"){
                            $("#endOfGame").html("Game Over " + data.winner);
                        }else{
                            $("#endOfGame").html("Game Over " + data.winner + " has won!");
                        }

                    } else {

                        populateGameGrid("grid", data);

                        $(".piece-button").click(function(event) {

                            var columnStr = $(event.target).data("column");
                            var column = parseInt(columnStr, 10);
                            if (isNaN(column)) {
                                console.log("Column is not an int: " + columnStr);
                            } else {
                                playPiece(column);
                            }
                        });



                    }

                    $("#opponent_name").html(data.opponentName);
                    $("#opponent_name").addClass(data.opponentColour);
                    $("#player_name").html(data.playerName);
                    $("#player_name").addClass(data.playerColour);

                    $("#colour").html("It is " + data.turnColour + "'s turn.");
                    $("#colour").removeClass(data.playerColour);
                    $("#colour").removeClass(data.opponentColour);
                    $("#colour").addClass(data.turnColour);

                }

            });
        }

        function playPiece(position) {
            $.ajax(
                    {
                        url : "/api/playGamePiece?playerId=" + playerId
                                + "&position=" + position
                    }).done(function(data, textStatus, jqXHR) {
                console.log(data);

                if (jqXHR.status == 200) {
                    populateGameGrid("grid", data);

                    $(".piece-button").click(function(event) {
                        console.log(event);
                    });
                }
            });
        }

        reloadGrid();

        setInterval(function() {
            reloadGrid();
        }, 500);
    </script>

{{/layout}}
{{>layout}}